*.o
*.a
Makefile
.cvsignore
tags
.ext/*
*.swp
*~
.nfs*
autom4te.cache/*
insns_info.inc
erb
irb
gem
rake
rdoc
ri
testrb
miniruby
config.log
config.status
parse.c
parse.h
ruby-1.9.pc
enc.mk
rbconfig.rb
ruby
